<div class="container">
 <div class="row">
  <div class ="mx-auto">
  <h1>welcome to <i class="fas fa-book"></i><strong> Bookers</strong> !!</h1>
  <p>In <strong>Bookers,</strong></p>
  <p>you can share and exchange your opinions , inpressions , and emotions
  <p>about various books!</p>
  <div class="button">
   <%= link_to (new_user_session_path) do %>
   <button type="button" class="btn btn-info w-100 mt-3 ">Log in</button><% end %>
   <%= link_to (new_user_registration_path) do %>
   <button type="button" class="btn btn-success w-100 mt-3">Sign up</button><% end %>
  </div> 
  </div>
 </div> 
</div>
